<table>
  <thead>
    <tr>
      <th>tweet id</th>
      <th>timedate</th>
      <th>text</th>
      <th>source</th>
      <th>user id</th>
      <th>user screen name</th>
      <th>in reply to tweet</th>
      <th># retweets</th>
      <th># favourites</th>
      <th>geo</th>
    </tr>
  </thead>
  <tbody>
    <% tweets.forEach(function(tweet) { %>
      <tr>
        <td><a href="/tweet/<%= tweet.id_str %>"><%= tweet.id_str %></a></td>
        <td><%= tweet.created_at %></td>
        <td class="tweet-text"><%= tweet.text %></td>
        <td class="tweet-source"><%= tweet.source %></td>
        <td><a href="/user/<%= tweet.user.id_str %>"><%= tweet.user.id_str %></a></td>
        <td><a href="/user/<%= tweet.user.screen_name %>"><%= tweet.user.screen_name %></td>

        <% if (tweet.in_reply_to_status_id_str) { %>
          <td><a href="/tweet/<%= tweet.in_reply_to_status_id_str %>"><%= tweet.in_reply_to_status_id_str %></a></td>
        <% } else { %>
          <td>null</td>
        <% } %>

        <td><%= tweet.retweet_count %></td>
        <td><%= tweet.favorite_count %></td>
        <td><%= tweet.geo ? tweet.geo.coordinates[0].toFixed(2) + ", " + tweet.geo.coordinates[1].toFixed(2) : 'null' %></td>
      </tr>
  <% }) %>
  </tbody>
</table>

<!-- this converts tags to links in tweet text -->
<script src="/script.js" type="text/javascript"></script>
<script type="text/javascript">

  var textElements = document.getElementsByClassName("tweet-text");
  for (var i = 0; i < textElements.length; i++) {
    var textElement = textElements[i];
    textElement.innerHTML = linkify(textElement.innerText);
  }

  var sourceElements = document.getElementsByClassName("tweet-source");
  for (var i = 0; i < sourceElements.length; i++) {
    var sourceElement = sourceElements[i];
    sourceElement.innerHTML = sourceElement.innerText;
  }

</script>