<% include ../partials/header.ejs %>

<img src="<%= users[0].profile_image_url.replace('_normal.', '.') %>" alt="<%= users[0].name %>'s avatar">

<h1><%= users[0].name %>'s info</h1>

<% include ../partials/users.ejs %>

<form class="form" action="/follows" method="post">
  <input type="hidden" name="user_id" value="<%= users[0].id_str %>">
  <input type="hidden" name="follows" value="followers">
  <button type="submit">All followers</button>
</form>

<form class="form" action="/follows" method="post">
  <input type="hidden" name="user_id" value="<%= users[0].id_str %>">
  <input type="hidden" name="follows" value="friends">
  <button type="submit">All friends</button>
</form>

<form class="form" action="/tweets" method="post">
  <input type="hidden" name="user_id" value="<%= users[0].id_str %>">
  <button type="submit">Latest tweets</button>
</form>

<% include ../partials/footer.ejs %>